@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Prompt:wght@400&display=swap');

body {
  background: url(https://wallpapercave.com/wp/srM2MhP.jpg);
  margin: 0;
  background-size: contain;
  font-family: 'Barlow Condensed';
}

h1 {
  font-family: 'Prompt';
  text-size-adjust: auto;
  background: lightblue;
  margin:0;
  margin-bottom: .5em;
  padding: 2em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: mediumseagreen;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
}